



<h1>Proposal</h1>

 <% if @proposals %>
  <ul>
  <p> here is a list of all proposals</p>
    <%@proposals.each do |proposal| %>
      <li> <a href="/proposals/<%=proposal.id%>"><%=proposal.name %></a></li>
    <% end %>
  </ul>

<% end %>

<% if logged_in? %>
  click <%= link_to "here", new_proposal_path %> to create a proposal
<% end %>

