<h1>Proposal</h1>
<p>Find me in app/views/proposal/index.html.erb</p>
 <% if @proposals %>
  <ul>
  <p> here are is a list of all proposals</p>
    <%@proposals.each do |proposal| %>
      <li> <%=proposal.name %></li>
    <% end %>
  </ul>

<% end %>
  click <%= link_to "here", new_proposal_path %> to create a proposal

