// Place all the styles related to the proposal controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
    margin: 0 auto;
    width: 500px;
    background-color: orange;
    font-family: helvetica;
    background-image: url("https://static.pexels.com/photos/4154/clinic-doctor-health-hospital.jpg");
    background-repeat: no-repeat;
    background-position: right top;
}
