<!DOCTYPE html>
<html>
  <head>
    <title>Labexperiment</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    
    <% if logged_in? %>
      <a href = "/users/logout">log out</a><br>
    <% else %>
      <a href = "/users/login">log in</a><br>
    <% end %>

    <%= yield %>
  </body>
</html>
